//clk 
Net "clk" LOC="B8";

//Botones
Net "c" LOC="C13" | IOSTANDARD = LVCMOS33;
Net "d" LOC="D12" | IOSTANDARD = LVCMOS33;
Net "e" LOC="C12" | IOSTANDARD = LVCMOS33;


// Salidas de Sonido
Net "data[3]" LOC="A10" | IOSTANDARD = LVCMOS33 | SLEW = SLOW | DRIVE = 8;
Net "data[2]" LOC="E11" | IOSTANDARD = LVCMOS33 | SLEW = SLOW | DRIVE = 8;
Net "data[1]" LOC="E10" | IOSTANDARD = LVCMOS33 | SLEW = SLOW | DRIVE = 8;
Net "data[0]" LOC="D10" | IOSTANDARD = LVCMOS33 | SLEW = SLOW | DRIVE = 8;

// Salidas para Leds x
Net "ledsx[4]" LOC="E9"  | IOSTANDARD = LVCMOS33 | SLEW = SLOW | DRIVE = 8;//VPIN 1L
Net "ledsx[6]" LOC="A9" | IOSTANDARD = LVCMOS33 | SLEW = SLOW | DRIVE = 8;//VPIN 2L
Net "ledsx[7]" LOC="D9" | IOSTANDARD = LVCMOS33 | SLEW = SLOW | DRIVE = 8;//VPIN 5L
Net "ledsx[5]" LOC="E8" | IOSTANDARD = LVCMOS33 | SLEW = SLOW | DRIVE = 8;//VPIN 7L
Net "ledsx[2]" LOC="C8" | IOSTANDARD = LVCMOS33 | SLEW = SLOW | DRIVE = 8;//VPIN 8L
Net "ledsx[1]" LOC="D8" | IOSTANDARD = LVCMOS33 | SLEW = SLOW | DRIVE = 8;//VPIN 14R
Net "ledsx[3]" LOC="F9" | IOSTANDARD = LVCMOS33 | SLEW = SLOW | DRIVE = 8;//VPIN 12R
Net "ledsx[0]" LOC="A7" | IOSTANDARD = LVCMOS33 | SLEW = SLOW | DRIVE = 8;//VPIN 9R
// Salidas para Leds y
Net "ledsy[7]" LOC="D7" | IOSTANDARD = LVCMOS33 | SLEW = SLOW | DRIVE = 8;//RPIN 16R
Net "ledsy[6]" LOC="E7" | IOSTANDARD = LVCMOS33 | SLEW = SLOW | DRIVE = 8;//RPIN 15R
Net "ledsy[0]" LOC="F8" | IOSTANDARD = LVCMOS33 | SLEW = SLOW | DRIVE = 8;//RPIN 13R
Net "ledsy[5]" LOC="C6" | IOSTANDARD = LVCMOS33 | SLEW = SLOW | DRIVE = 8;//RPIN 11R
Net "ledsy[3]" LOC="D6" | IOSTANDARD = LVCMOS33 | SLEW = SLOW | DRIVE = 8;//RPIN 10R
Net "ledsy[1]" LOC="A5" | IOSTANDARD = LVCMOS33 | SLEW = SLOW | DRIVE = 8;//RPIN 3L
Net "ledsy[2]" LOC="A4" | IOSTANDARD = LVCMOS33 | SLEW = SLOW | DRIVE = 8;//RPIN 4L
Net "ledsy[4]" LOC="B4" | IOSTANDARD = LVCMOS33 | SLEW = SLOW | DRIVE = 8;//RPIN 6L
